body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 14px/24px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#body-content{
    background-color: #f7f7f9;
}
#menu-box{
    border: solid #f7f7f9;
}
#square {
    width: 100px;
    height: 100px;
    background: #50c878;
    border: 3px solid silver;
    font-size: 40px;
}

#square-empty {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: 3px solid silver;
}
div.square-small {
    width: 50px;
    height: 35px;
    background: #ffffff;
    border: 3px solid #28a745;
    text-align: center;
}